@using System
@using Kira
@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    <div class="sidebar">

        @foreach (CategoryData c in CategoryDatas)
        {
            var cname = "slot";

            if (CategorySelected == c.CategoryType)
            {
                cname += " active";
            }

            <div class=@cname onclick="@(() => OnSlotClicked(c.CategoryType))">
                <i>@c.Icon</i>
            </div>
        }
    </div>

    <div class="container">
        @{
            CategoryData categorySelected = CategoryDatas.Single(c => c.CategoryType == CategorySelected);
            foreach (CategoryItem item in categorySelected.Items)
            {
                <div class="slot">
                    <i>@item.Icon</i>
                </div>
            }
        }
    </div>
</root>

@code
{
    public int Slots = 0;

    private void OnSlotClicked(CategoryTypes category)
    {
        CategorySelected = category;
    }

    public struct Category
    {
        public CategoryTypes category;
        public string icon;

        public Category(CategoryTypes category, string icon)
        {
            this.category = category;
            this.icon = icon;
        }
    }

    private IReadOnlyList<CategoryData> CategoryDatas { get; set; } = CategoryData.All;

    private CategoryTypes CategorySelected { get; set; }

    private List<Category> Categories { get; } = new List<Category>()
    {
        new Category(CategoryTypes.Seeds,
            "volunteer_activism"),
        new Category(CategoryTypes.Furniture,
            "chair"),
        new Category(CategoryTypes.Animals,
            "pets")
    };

    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine(CategorySelected);

}