@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    <div class="sidebar">
        <div class="slot"></div>
        <div class="slot"></div>
        <div class="slot"></div>
        <div class="slot"></div>
        <div class="slot"></div>
    </div>

    <div class="container">
    </div>
</root>

@code
{
    public int Slots = 0;

    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine(Slots);
}