@using System
@using Kira
@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    <div class="sidebar">

        @foreach (CategoryData c in CategoryDatas)
        {
            var cname = "slot";

            if (CategorySelected == c.CategoryType)
            {
                cname += " active";
            }

            <div class=@cname onclick="@(() => OnSlotClicked(c.CategoryType))">
                <i>@c.Icon</i>
            </div>
        }
    </div>

    <div class="container">
        @{
            CategoryData categorySelected = CategoryDatas.Single(c => c.CategoryType == CategorySelected);
            for (var i = 0; i < categorySelected.Items.Count; i++)
            {
                var cname = "slot";

                if (HasItemSelected && ItemSelected == i)
                {
                    cname += " active";
                }

                CategoryItem item = categorySelected.Items[i];


                int i1 = i;
                <div class=@cname onclick="@(() => OnItemClicked(i1))">
                    <i>@item.Icon</i>
                </div>
            }
        }
    </div>
</root>

@code
{
    public int Slots = 0;

    private void OnSlotClicked(CategoryTypes category)
    {
        HasItemSelected = false;
        CategorySelected = category;
    }

    private void OnItemClicked(int i)
    {
        ItemSelected = i;
        HasItemSelected = true;
    }

    private bool HasItemSelected { get; set; } = false;
    private int ItemSelected { get; set; } = 0;
    private IReadOnlyList<CategoryData> CategoryDatas { get; set; } = CategoryData.All;
    private CategoryTypes CategorySelected { get; set; }

    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine(CategorySelected, HasItemSelected, ItemSelected);

}