@using System
@using Kira
@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    <div class="sidebar">

        @foreach (CategoryData c in Categories)
        {
            var cname = "slot";

            if (CategorySelected == c.CategoryType)
            {
                cname += " active";
            }

            <div class=@cname onclick="@(() => OnSlotClicked(c.CategoryType))">
                <i>@c.Icon</i>
            </div>
        }
    </div>

    <div class="container">
        @{
            CategoryData categorySelected = Categories.Single(c => c.CategoryType == CategorySelected);
            for (var i = 0; i < categorySelected.Items.Length; i++)
            {
                var cname = "slot";

                if (HasItemSelected && ItemSelectedId == i)
                {
                    cname += " active";
                }

                CategoryItem item = categorySelected.Items[i];

                int i1 = i;
                <div class=@cname onclick="@(() => OnItemClicked(i1))">
                    <i>@item.Icon</i>
                </div>
            }
        }
    </div>
</root>

@code
{
    public int Slots = 0;

    private void OnSlotClicked(CategoryTypes category)
    {
        HasItemSelected = false;
        CategorySelected = category;
    }


    protected override void OnStart()
    {
        base.OnStart();
        Categories = Player.GameData.Categories;
    }

    private void OnItemClicked(int i)
    {
        if (HasItemSelected && ItemSelectedId == i)
        {
            HasItemSelected = false;
            return;
        }

        ItemSelectedId = i;
        HasItemSelected = true;
    }

    public bool HasItemSelected { get; set; } = false;
    private int ItemSelectedId { get; set; } = 0;

    public CategoryData[] Categories;
    public CategoryItem ItemSelected => Categories.Single(c => c.CategoryType == CategorySelected).Items[ItemSelectedId];
    private CategoryTypes CategorySelected { get; set; } = CategoryTypes.Seeds;

    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine(CategorySelected, HasItemSelected, ItemSelectedId);

}